{% extends 'base.html.twig' %}
{% block title  %}
    О блоге
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <h2><u>Пару слов о блоге</u></h2>
        <p class="text-gray">Этот супер примитивный блог сделан к экзамену по курсу "PHP c нуля"</p>
        <p class="text-gray">Сделан c использованием Symfony 4</p>
        <p class="text-gray">К экзамену еще много чего нужно успеть доделать</p>

    </div>
{% endblock body %}