{% extends 'base.html.twig' %}
{% block title  %}
    Главная
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <h2>Здесь будут статьи</h2>
    </div>
{% endblock body %}