{% extends 'base.html.twig' %}
{% block title  %}
    Добавление поста
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <h2><u>Добавление поста</u></h2>

    </div>
{% endblock body %}