{% extends 'base.html.twig' %}
{% block title  %}
    Добавление поста
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <h2><u>Добавление поста</u></h2>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <p></p>
                <div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-primary" href="{{ path('homepage')}}">На главную</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock body %}

