{% extends 'base.html.twig' %}
{% block title  %}
    Редактирование поста
{% endblock title %}
{% block body %}
    <div class="container-fluid">
        <h2><u>Редактирование поста</u></h2>


    </div>
{% endblock body %}